<!DOCTYPE HTML>
<html>
<head>

<title>Welcome to my site!</title>
  <script src="https://www.randomcubertime.tk/scripts/jquery"></script>
  <link rel="stylesheet" href="https://www.randomcubertime.tk/style">
 <script data-ad-client="ca-pub-9765907238297713" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<body>
 <%- include('bar.ejs') %> 
<noscript>
  <!-- anchor linking to external file -->
 <h1><strong>hello, we found out script is not enabled , or your browser is not support it, if so, please use another browser that support script, if not, please enable script.</strong></h1>
</noscript>
<style>
	style="visibility: hidden !important;" 
</style>
 <div id="babasbmsgx" style="visibility: visible !important;">Please disable your adblock and script blockers to view this page</div> 

<div id="cont1">
    <div id="login"></div>
    <br>
        <br>
            <br>
                <br>
                    <br>
                        <br>
                            <br>
                                <br>
</div>
<div id ="loginf">

<form action="/auth" method="POST">
    <input type="text" name="username" required />
    <input type="password" name="password" required />
    <input type="submit" value="Submit" class=button1 />
    <a class=button1 onclick=loginhide()>back</a>
</div>
<div id ="registerf">

<form action="/auth" method="POST">
    <input type="text" name="username" required />
     <input type="text" name="email" required />
      <input type="name" name="your name" required />
    <input type="password" name="password" required />
    <input type="submit" value="Submit" class=button1/>
     <a class=button1 onclick=registerhide()>back</a>
</div>


<script>
 var x = document.getElementById("loginf");
    x.style.display = "none";
     var y = document.getElementById("registerf");
    y.style.display = "none";
function loginshow() {
  var x = document.getElementById("loginf");
    x.style.display = "block";
     var yz = document.getElementById("cont1");
    yz.style.display = "none";
}
function registershow() {
  var x = document.getElementById("registerf");
    x.style.display = "block";
       var yz = document.getElementById("cont1");
    yz.style.display = "none";
}
function loginhide() {
  var x = document.getElementById("loginf");
    x.style.display = "none";
     var yz = document.getElementById("cont1");
    yz.style.display = "block";
}
function registerhide() {
  var x = document.getElementById("registerf");
    x.style.display = "none";
       var yz = document.getElementById("cont1");
    yz.style.display = "block";
}

</script>

  <% if (user.login == "false")  {%>
           <script>
          var dv = "<p>Welcome to MediaNext's offical website! but it's look like you have login! please login!</p> <a onclick=loginshow() class=button1>Login</a>";
          const div = document.createElement('div');
div.className = 'login';
div.innerHTML = dv;
document.getElementById('login').appendChild(div); 
           </script>
        <% }if (user.login == "true")  {%>
           <script>
          var dv = "<p>Hello " +  `<%-user.name%>` + "!</p>";
          const div = document.createElement('div');
div.className = 'login';
div.innerHTML = dv;
document.getElementById('login').appendChild(div); 
           </script>
        <% } %>


<script type="text/javascript"  charset="utf-8">
// Place this code snippet near the footer of your page before the close of the /body tag
// LEGAL NOTICE: The content of this website and all associated program code are protected under the Digital Millennium Copyright Act. Intentionally circumventing this code may constitute a violation of the DMCA.
                            
eval(function(p,a,c,k,e,d){e=function(c){return(c<a?'':e(parseInt(c/a)))+((c=c%a)>35?String.fromCharCode(c+29):c.toString(36))};if(!''.replace(/^/,String)){while(c--){d[e(c)]=k[c]||e(c)}k=[function(e){return d[e]}];e=function(){return'\\w+'};c=1};while(c--){if(k[c]){p=p.replace(new RegExp('\\b'+e(c)+'\\b','g'),k[c])}}return p}(';q P=\'\',2b=\'1Z\';1Q(q i=0;i<12;i++)P+=2b.X(C.K(C.J()*2b.G));q 2g=5,2m=6c,2i=6a,2x=69,38=D(t){q i=!1,o=D(){z(k.1m){k.2R(\'39\',e);F.2R(\'29\',e)}R{k.2U(\'36\',e);F.2U(\'1X\',e)}},e=D(){z(!i&&(k.1m||62.2u===\'29\'||k.2W===\'2X\')){i=!0;o();t()}};z(k.2W===\'2X\'){t()}R z(k.1m){k.1m(\'39\',e);F.1m(\'29\',e)}R{k.2I(\'36\',e);F.2I(\'1X\',e);q n=!1;2s{n=F.6t==6i&&k.27}2y(r){};z(n&&n.2v){(D d(){z(i)H;2s{n.2v(\'14\')}2y(e){H 5o(d,50)};i=!0;o();t()})()}}};F[\'\'+P+\'\']=(D(){q t={t$:\'1Z+/=\',5p:D(e){q d=\'\',a,n,i,c,s,l,o,r=0;e=t.e$(e);1d(r<e.G){a=e.16(r++);n=e.16(r++);i=e.16(r++);c=a>>2;s=(a&3)<<4|n>>4;l=(n&15)<<2|i>>6;o=i&63;z(2E(n)){l=o=64}R z(2E(i)){o=64};d=d+11.t$.X(c)+11.t$.X(s)+11.t$.X(l)+11.t$.X(o)};H d},13:D(e){q n=\'\',a,l,c,s,r,o,d,i=0;e=e.1r(/[^A-5q-5v-9\\+\\/\\=]/g,\'\');1d(i<e.G){s=11.t$.1L(e.X(i++));r=11.t$.1L(e.X(i++));o=11.t$.1L(e.X(i++));d=11.t$.1L(e.X(i++));a=s<<2|r>>4;l=(r&15)<<4|o>>2;c=(o&3)<<6|d;n=n+S.U(a);z(o!=64){n=n+S.U(l)};z(d!=64){n=n+S.U(c)}};n=t.n$(n);H n},e$:D(t){t=t.1r(/;/g,\';\');q n=\'\';1Q(q i=0;i<t.G;i++){q e=t.16(i);z(e<1u){n+=S.U(e)}R z(e>6D&&e<6H){n+=S.U(e>>6|6P);n+=S.U(e&63|1u)}R{n+=S.U(e>>12|2j);n+=S.U(e>>6&63|1u);n+=S.U(e&63|1u)}};H n},n$:D(t){q i=\'\',e=0,n=6Z=1C=0;1d(e<t.G){n=t.16(e);z(n<1u){i+=S.U(n);e++}R z(n>73&&n<2j){1C=t.16(e+1);i+=S.U((n&31)<<6|1C&63);e+=2}R{1C=t.16(e+1);2O=t.16(e+2);i+=S.U((n&15)<<12|(1C&63)<<6|2O&63);e+=3}};H i}};q a=[\'6y==\',\'3C\',\'3D=\',\'3E\',\'3N\',\'3Q=\',\'3U=\',\'3V=\',\'3W\',\'4H\',\'4W=\',\'4V=\',\'4Y\',\'71\',\'5k=\',\'4p\',\'4q=\',\'4r=\',\'4s=\',\'4t=\',\'4u=\',\'4v=\',\'4o==\',\'4w==\',\'4y==\',\'4z==\',\'4A=\',\'4B\',\'4C\',\'4D\',\'4E\',\'4x\',\'4m\',\'4d==\',\'4l=\',\'46=\',\'47=\',\'48==\',\'49=\',\'4a\',\'4b=\',\'45=\',\'4c==\',\'4e=\',\'4f==\',\'4g==\',\'4h=\',\'4i=\',\'4j\',\'4k==\',\'4F==\',\'4n\',\'4G==\',\'51=\'],b=C.K(C.J()*a.G),A=t.13(a[b]),Y=A,L=1,W=\'#53\',r=\'#54\',g=\'#55\',f=\'#56\',w=\'\',v=\'57 58\',y=\'59\\\'s 2Q 1T 2n 21 52. 5a 5c, 24\\\'s 2Q 5d.\',p=\'5e 24\\\'s 5f 2r 1T 2n 5g 5h 5i 5b 2r 4Z 4Q.\',s=\'I\\\'4J 4K 43 4L 4M. 4N\\\'s 4O 4I 4P 24!\',i=0,u=0,n=\'4R.4S\',l=0,M=e()+\'.2F\';D h(t){z(t)t=t.1P(t.G-15);q i=k.2k(\'4T\');1Q(q n=i.G;n--;){q e=S(i[n].1S);z(e)e=e.1P(e.G-15);z(e===t)H!0};H!1};D m(t){z(t)t=t.1P(t.G-15);q e=k.4U;x=0;1d(x<e.G){1h=e[x].1D;z(1h)1h=1h.1P(1h.G-15);z(1h===t)H!0;x++};H!1};D e(t){q n=\'\',i=\'1Z\';t=t||30;1Q(q e=0;e<t;e++)n+=i.X(C.K(C.J()*i.G));H n};D o(i){q o=[\'44\',\'3R==\',\'42\',\'3w\',\'2w\',\'3v==\',\'3u=\',\'3t==\',\'3s=\',\'3r==\',\'3q==\',\'3i==\',\'3p\',\'3o\',\'3n\',\'2w\'],r=[\'2T=\',\'3m==\',\'3l==\',\'3k==\',\'3j=\',\'3e\',\'3g=\',\'3f=\',\'2T=\',\'3x\',\'3z==\',\'3O\',\'41==\',\'3Z==\',\'3Y==\',\'3X=\'];x=0;1R=[];1d(x<i){c=o[C.K(C.J()*o.G)];d=r[C.K(C.J()*r.G)];c=t.13(c);d=t.13(d);q a=C.K(C.J()*2)+1;z(a==1){n=\'//\'+c+\'/\'+d}R{n=\'//\'+c+\'/\'+e(C.K(C.J()*20)+4)+\'.2F\'};1R[x]=1W 1V();1R[x].1U=D(){q t=1;1d(t<7){t++}};1R[x].1S=n;x++}};D Z(t){};H{2l:D(t,r){z(3T k.O==\'3S\'){H};q i=\'0.1\',r=Y,e=k.1f(\'1A\');e.19=r;e.j.1i=\'1J\';e.j.14=\'-1g\';e.j.10=\'-1g\';e.j.1e=\'2f\';e.j.V=\'3y\';q a=k.O.2t,d=C.K(a.G/2);z(d>15){q n=k.1f(\'2d\');n.j.1i=\'1J\';n.j.1e=\'1x\';n.j.V=\'1x\';n.j.10=\'-1g\';n.j.14=\'-1g\';k.O.3P(n,k.O.2t[d]);n.1b(e);q o=k.1f(\'1A\');o.19=\'2q\';o.j.1i=\'1J\';o.j.14=\'-1g\';o.j.10=\'-1g\';k.O.1b(o)}R{e.19=\'2q\';k.O.1b(e)};l=3A(D(){z(e){t((e.28==0),i);t((e.26==0),i);t((e.1M==\'2H\'),i);t((e.1O==\'2S\'),i);t((e.1F==0),i)}R{t(!0,i)}},2a)},1K:D(e,c){z((e)&&(i==0)){i=1;F[\'\'+P+\'\'].1z();F[\'\'+P+\'\'].1K=D(){H}}R{q p=t.13(\'3M\'),u=k.3L(p);z((u)&&(i==0)){z((2m%3)==0){q l=\'3K=\';l=t.13(l);z(h(l)){z(u.1H.1r(/\\s/g,\'\').G==0){i=1;F[\'\'+P+\'\'].1z()}}}};q b=!1;z(i==0){z((2i%3)==0){z(!F[\'\'+P+\'\'].2N){q a=[\'3J==\',\'3I==\',\'3H=\',\'3G=\',\'3F=\'],m=a.G,r=a[C.K(C.J()*m)],d=r;1d(r==d){d=a[C.K(C.J()*m)]};r=t.13(r);d=t.13(d);o(C.K(C.J()*2)+1);q n=1W 1V(),s=1W 1V();n.1U=D(){o(C.K(C.J()*2)+1);s.1S=d;o(C.K(C.J()*2)+1)};s.1U=D(){i=1;o(C.K(C.J()*3)+1);F[\'\'+P+\'\'].1z()};n.1S=r;z((2x%3)==0){n.1X=D(){z((n.V<8)&&(n.V>0)){F[\'\'+P+\'\'].1z()}}};o(C.K(C.J()*3)+1);F[\'\'+P+\'\'].2N=!0};F[\'\'+P+\'\'].1K=D(){H}}}}},1z:D(){z(u==1){q Q=2V.6S(\'3d\');z(Q>0){H!0}R{2V.6U(\'3d\',(C.J()+1)*2a)}};q h=\'6W==\';h=t.13(h);z(!m(h)){q c=k.1f(\'6X\');c.23(\'6R\',\'6Y\');c.23(\'2u\',\'1k/70\');c.23(\'1D\',h);k.2k(\'72\')[0].1b(c)};74(l);k.O.1H=\'\';k.O.j.1a+=\'T:1x !17\';k.O.j.1a+=\'1n:1x !17\';q M=k.27.26||F.37||k.O.26,b=F.75||k.O.28||k.27.28,d=k.1f(\'1A\'),L=e();d.19=L;d.j.1i=\'2A\';d.j.14=\'0\';d.j.10=\'0\';d.j.V=M+\'1B\';d.j.1e=b+\'1B\';d.j.2h=W;d.j.1Y=\'6O\';k.O.1b(d);q a=\'<a 1D="6A://6B.6C"><3b 19="34" V="2z" 1e="40"><2J 19="2Z" V="2z" 1e="40" 6E:1D="3h:2J/6F;6z,6G+6I+6J+B+B+B+B+B+B+B+B+B+B+B+B+B+B+B+B+B+B+B+B+B+B+B+B+B+B+B+B+B+B+B+B+6L+6M+6N/76/77/78/79/7r+/7s/7t+7u/7v+7w/7x/7y/7z/7A/7B/7C+7D/7E+7q+7p+7o+7n+7m/7l+7k/7j+7i/7h+7g+7f+7e+7d/7c+7b/7a/6Q/6x+5U+6w/5E+5F+5G+5H+E+5I/5J/5D/5K/5M/5N/+5O/5P++5Q/5R/5L+5B/5m+5A+5z==">;</3b></a>\';a=a.1r(\'34\',e());a=a.1r(\'2Z\',e());q o=k.1f(\'1A\');o.1H=a;o.j.1i=\'1J\';o.j.1w=\'1G\';o.j.14=\'1G\';o.j.V=\'5x\';o.j.1e=\'5w\';o.j.1Y=\'2p\';o.j.1F=\'.6\';o.j.2B=\'2D\';o.1m(\'5u\',D(){n=n.5t(\'\').5s().5r(\'\');F.3c.1D=\'//\'+n});k.1N(L).1b(o);q i=k.1f(\'1A\'),Z=e();i.19=Z;i.j.1i=\'2A\';i.j.10=b/7+\'1B\';i.j.5n=M-5S+\'1B\';i.j.5C=b/3.5+\'1B\';i.j.2h=\'#6g\';i.j.1Y=\'2p\';i.j.1a+=\'N-1v: "6j 6k", 1t, 1p, 1q-1s !17\';i.j.1a+=\'6l-1e: 6n !17\';i.j.1a+=\'N-1j: 6h !17\';i.j.1a+=\'1k-1y: 1o !17\';i.j.1a+=\'1n: 6o !17\';i.j.1M+=\'21\';i.j.3a=\'1G\';i.j.6q=\'1G\';i.j.6s=\'33\';k.O.1b(i);i.j.6u=\'1x 6v 6p -6f 67(0,0,0,0.3)\';i.j.1O=\'2Y\';q Y=30,A=22,w=18,x=18;z((F.37<32)||(5W.V<32)){i.j.2K=\'50%\';i.j.1a+=\'N-1j: 5Y !17\';i.j.3a=\'61;\';o.j.2K=\'65%\';q Y=22,A=18,w=12,x=12};i.1H=\'<2P j="1l:#66;N-1j:\'+Y+\'1E;1l:\'+r+\';N-1v:1t, 1p, 1q-1s;N-1I:68;T-10:1c;T-1w:1c;1k-1y:1o;">\'+v+\'</2P><2M j="N-1j:\'+A+\'1E;N-1I:6b;N-1v:1t, 1p, 1q-1s;1l:\'+r+\';T-10:1c;T-1w:1c;1k-1y:1o;">\'+y+\'</2M><6d j=" 1M: 21;T-10: 0.2L;T-1w: 0.2L;T-14: 2c;T-1T: 2c; 2C:5V 5Z #5X; V: 25%;1k-1y:1o;"><p j="N-1v:1t, 1p, 1q-1s;N-1I:2G;N-1j:\'+w+\'1E;1l:\'+r+\';1k-1y:1o;">\'+p+\'</p><p j="T-10:6r;"><2d 6m="11.j.1F=.9;" 5T="11.j.1F=1;"  19="\'+e()+\'" j="2B:2D;N-1j:\'+x+\'1E;N-1v:1t, 1p, 1q-1s; N-1I:2G;2C-5y:33;1n:1c;6K-1l:\'+g+\';1l:\'+f+\';1n-14:2f;1n-1T:2f;V:60%;T:2c;T-10:1c;T-1w:1c;" 6V="F.3c.6T();">\'+s+\'</2d></p>\'}}})();F.2o=D(t,e){q n=5l.5j,i=F.3B,d=n(),o,r=D(){n()-d<e?o||i(r):t()};i(r);H{4X:D(){o=1}}};q 35;z(k.O){k.O.j.1O=\'2Y\'};38(D(){z(k.1N(\'2e\')){k.1N(\'2e\').j.1O=\'2H\';k.1N(\'2e\').j.1M=\'2S\'};35=F.2o(D(){F[\'\'+P+\'\'].2l(F[\'\'+P+\'\'].1K,F[\'\'+P+\'\'].6e)},2g*2a)});',62,475,'|||||||||||||||||||style|document||||||var|||||||||if||vr6|Math|function||window|length|return||random|floor|||font|body|CkXVeiuOHWis||else|String|margin|fromCharCode|width||charAt|||top|this||decode|left||charCodeAt|important||id|cssText|appendChild|10px|while|height|createElement|5000px|thisurl|position|size|text|color|addEventListener|padding|center|geneva|sans|replace|serif|Helvetica|128|family|bottom|0px|align|MFiKAmTVbA|DIV|px|c2|href|pt|opacity|30px|innerHTML|weight|absolute|unAJGosYcv|indexOf|display|getElementById|visibility|substr|for|spimg|src|right|onerror|Image|new|onload|zIndex|ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789||block||setAttribute|it||clientWidth|documentElement|clientHeight|load|1000|spkccFbvzX|auto|div|babasbmsgx|60px|XOafyBrrxt|backgroundColor|qRrecAkvlt|224|getElementsByTagName|BsdFdPpdSY|esFURqkSuR|to|zGQzLpadHx|10000|banner_ad|our|try|childNodes|type|doScroll|cGFydG5lcmFkcy55c20ueWFob28uY29t|xMLArPpHSi|catch|160|fixed|cursor|border|pointer|isNaN|jpg|300|hidden|attachEvent|image|zoom|5em|h1|ranAlready|c3|h3|your|removeEventListener|none|ZmF2aWNvbi5pY28|detachEvent|sessionStorage|readyState|complete|visible|FILLVECTID2|||640|15px|FILLVECTID1|xzNkjgtLib|onreadystatechange|innerWidth|kcdLLKZdJb|DOMContentLoaded|marginLeft|svg|location|babn|MTM2N19hZC1jbGllbnRJRDI0NjQuanBn|Q0ROLTMzNC0xMDktMTM3eC1hZC1iYW5uZXI|YWRjbGllbnQtMDAyMTQ3LWhvc3QxLWJhbm5lci1hZC5qcGc|data|YWRzLnp5bmdhLmNvbQ|c2t5c2NyYXBlci5qcGc|NzIweDkwLmpwZw|NDY4eDYwLmpwZw|YmFubmVyLmpwZw|YXMuaW5ib3guY29t|YWRzYXR0LmVzcG4uc3RhcndhdmUuY29t|YWRzYXR0LmFiY25ld3Muc3RhcndhdmUuY29t|YWRzLnlhaG9vLmNvbQ|cHJvbW90ZS5wYWlyLmNvbQ|Y2FzLmNsaWNrYWJpbGl0eS5jb20|YWR2ZXJ0aXNpbmcuYW9sLmNvbQ|YWdvZGEubmV0L2Jhbm5lcnM|YS5saXZlc3BvcnRtZWRpYS5ldQ|YWQuZm94bmV0d29ya3MuY29t|YWQtbGFyZ2UucG5n|468px|c3F1YXJlLWFkLnBuZw|setInterval|requestAnimationFrame|YWRCYW5uZXJXcmFw|YWQtZnJhbWU|YWQtaGVhZGVy|Ly93d3cuZG91YmxlY2xpY2tieWdvb2dsZS5jb20vZmF2aWNvbi5pY28|Ly9hZHMudHdpdHRlci5jb20vZmF2aWNvbi5pY28|Ly9hZHZlcnRpc2luZy55YWhvby5jb20vZmF2aWNvbi5pY28|Ly93d3cuZ3N0YXRpYy5jb20vYWR4L2RvdWJsZWNsaWNrLmljbw|Ly93d3cuZ29vZ2xlLmNvbS9hZHNlbnNlL3N0YXJ0L2ltYWdlcy9mYXZpY29uLmljbw|Ly9wYWdlYWQyLmdvb2dsZXN5bmRpY2F0aW9uLmNvbS9wYWdlYWQvanMvYWRzYnlnb29nbGUuanM|querySelector|aW5zLmFkc2J5Z29vZ2xl|YWQtaW1n|ZmF2aWNvbjEuaWNv|insertBefore|YWQtaW5uZXI|YWQubWFpbC5ydQ|undefined|typeof|YWQtbGFiZWw|YWQtbGI|YWQtZm9vdGVy|YWR2ZXJ0aXNlbWVudC0zNDMyMy5qcGc|d2lkZV9za3lzY3JhcGVyLmpwZw|bGFyZ2VfYmFubmVyLmdpZg||YmFubmVyX2FkLmdpZg|anVpY3lhZHMuY29t|my|YWRuLmViYXkuY29t|YWRiYW5uZXI|QWRCb3gxNjA|QWRDb250YWluZXI|Z2xpbmtzd3JhcHBlcg|YWRUZWFzZXI|YmFubmVyX2Fk|YWRCYW5uZXI|YWRBZA|QWRJbWFnZQ|YmFubmVyYWQ|IGFkX2JveA|YWRfY2hhbm5lbA|YWRzZXJ2ZXI|YmFubmVyaWQ|YWRzbG90|cG9wdXBhZA|QWREaXY|RGl2QWRD|Z29vZ2xlX2Fk|QWRzX2dvb2dsZV8wMQ|QWRBcmVh|QWRGcmFtZTE|QWRGcmFtZTI|QWRGcmFtZTM|QWRGcmFtZTQ|QWRMYXllcjE|QWRMYXllcjI|QWRzX2dvb2dsZV8wMg|RGl2QWRC|QWRzX2dvb2dsZV8wMw|QWRzX2dvb2dsZV8wNA|RGl2QWQ|RGl2QWQx|RGl2QWQy|RGl2QWQz|RGl2QWRB|YWRzZW5zZQ|b3V0YnJhaW4tcGFpZA|YWQtY29udGFpbmVy|on|ve|disabled|ad|blocker|Let|get|with|product|moc|kcolbdakcolb|script|styleSheets|YWQtY29udGFpbmVyLTI|YWQtY29udGFpbmVyLTE|clear|QWQzMDB4MTQ1|published||c3BvbnNvcmVkX2xpbms|ads|EEEEEE|777777|adb8ff|FFFFFF|Welcome|Visitor|It|After|of|all|browser|But|also|protect|the|integrity|now|QWQ3Mjh4OTA|Date|Uv0LfPzlsBELZ|minWidth|setTimeout|encode|Za|join|reverse|split|click|z0|40px|160px|radius|gkJocgFtzfMzwAAAABJRU5ErkJggg|3eUeuATRaNMs0zfml|dEflqX6gzC4hd1jSgz0ujmPkygDjvNYDsU0ZggjKBqLPrQLfDUQIzxMBtSOucRwLzrdQ2DFO0NDdnsYq0yoJyEB0FHTBHefyxcyUy8jflH7sHszSfgath4hYwcD3M29I5DMzdBNO2IFcC5y6HSduof4G5dQNMWd4cDcjNNeNGmb02|minHeight|CGf7SAP2V6AjTOUa8IzD3ckqe2ENGulWGfx9VKIBB72JM1lAuLKB3taONCBn3PY0II5cFrLr7cCp|E5HlQS6SHvVSU0V|j9xJVBEEbWEXFVZQNX9|1HX6ghkAR9E5crTgM|0t6qjIlZbzSpemi|MjA3XJUKy|SRWhNsmOazvKzQYcE0hV5nDkuQQKfUgm4HmqA2yuPxfMU1m4zLRTMAqLhN6BHCeEXMDo2NsY8MdCeBB6JydMlps3uGxZefy7EO1vyPvhOxL7TPWjVUVvZkNJ|UIWrdVPEp7zHy7oWXiUgmR3kdujbZI73kghTaoaEKMOh8up2M8BVceotd|uJylU|BNyENiFGe5CxgZyIT6KVyGO2s5J5ce|14XO7cR5WV1QBedt3c|QhZLYLN54|e8xr8n5lpXyn|u3T9AbDjXwIMXfxmsarwK9wUBB5Kj8y2dCw|Kq8b7m0RpwasnR|120|onmouseout|F2Q|1px|screen|CCC|18pt|solid||45px|event||||999|rgba|200|289|187|500|118|hr|SpNJsjCbHQ|8px|fff|16pt|null|Arial|Black|line|onmouseover|normal|12px|24px|marginRight|35px|borderRadius|frameElement|boxShadow|14px|bTplhb|x0z6tauQYvPxwT0VM1lH9Adt5Lp|YWQtbGVmdA|base64|http|blockadblock|com|127|xlink|png|iVBORw0KGgoAAAANSUhEUgAAAKAAAAAoCAMAAABO8gGqAAAB|2048|1BMVEXr6|sAAADr6|background|sAAADMAAAsKysKCgokJCRycnIEBATq6uoUFBTMzMzr6urjqqoSEhIGBgaxsbHcd3dYWFg0NDTmw8PZY2M5OTkfHx|enp7TNTUoJyfm5ualpaV5eXkODg7k5OTaamoqKSnc3NzZ2dmHh4dra2tHR0fVQUFAQEDPExPNBQXo6Ohvb28ICAjp19fS0tLnzc29vb25ubm1tbWWlpaNjY3dfX1oaGhUVFRMTEwaGhoXFxfq5ubh4eHe3t7Hx8fgk5PfjY3eg4OBgYF|fn5EREQ9PT3SKSnV1dXks7OsrKypqambmpqRkZFdXV1RUVHRISHQHR309PTq4eHp3NzPz8|9999|192|pyQLiBu8WDYgxEZMbeEqIiSM8r|rel|getItem|reload|setItem|onclick|Ly95dWkueWFob29hcGlzLmNvbS8zLjE4LjEvYnVpbGQvY3NzcmVzZXQvY3NzcmVzZXQtbWluLmNzcw|link|stylesheet|c1|css|QWQzMDB4MjUw|head|191|clearInterval|innerHeight|Ly8vKysrDw8O4uLjkt7fhnJzgl5d7e3tkZGTYVlZPT08vLi7OCwu|v792dnbbdHTZYWHZXl7YWlpZWVnVRkYnJib8|PzNzc3myMjlurrjsLDhoaHdf3|aa2thYWHXUFDUPDzUOTno0dHipqbceHjaZ2dCQkLSLy|kmLbKmsE|szSdAtKtwkRRNnCIiDzNzc0RO|uI70wOsgFWUQCfZC1UI0Ettoh66D|UADVgvxHBzP9LUufqQDtV|UimAyng9UePurpvM8WmAdsvi6gNwBMhPrPqemoXywZs8qL9JZybhqF6LZBZJNANmYsOSaBTkSqcpnCFEkntYjtREFlATEtgxdDQlffhS3ddDAzfbbHYPUDGJpGT|h0GsOCs9UwP2xo6|QcWrURHJSLrbBNAxZTHbgSCsHXJkmBxisMvErFVcgE|I1TpO7CnBZO|iqKjoRAEDlZ4soLhxSgcy6ghgOy7EeC2PI4DHb7pO7mRwTByv5hGxF|BKpxaqlAOvCqBjzTFAp2NFudJ5paelS5TbwtBlAvNgEdeEGI6O6JUt42NhuvzZvjXTHxwiaBXUIMnAKa5Pq9SL3gn1KAOEkgHVWBIMU14DBF2OH3KOfQpG2oSQpKYAEdK0MGcDg1xbdOWy|0nga14QJ3GOWqDmOwJgRoSme8OOhAQqiUhPMbUGksCj5Lta4CbeFhX9NN0Tpny|KmSx|uWD20LsNIDdQut4LXA|YbUMNVjqGySwrRUGsLu6|1FMzZIGQR3HWJ4F1TqWtOaADq0Z9itVZrg1S6JLi7B1MAtUCX1xNB0Y0oL9hpK4|CXRTTQawVogbKeDEs2hs4MtJcNVTY2KgclwH2vYODFTa4FQ|qdWy60K14k|v7|b29vlvb2xn5|ejIzabW26SkqgMDA7HByRAADoM7kjAAAAInRSTlM6ACT4xhkPtY5iNiAI9PLv6drSpqGYclpM5bengkQ8NDAnsGiGMwAABetJREFUWMPN2GdTE1EYhmFQ7L339rwngV2IiRJNIGAg1SQkFAHpgnQpKnZBAXvvvXf9mb5nsxuTqDN|cIa9Z8IkGYa9OGXPJDm5RnMX5pim7YtTLB24btUKmKnZeWsWpgHnzIP5UucvNoDrl8GUrVyUBM4xqQ|ISwIz5vfQyDF3X|MgzNFaCVyHVIONbx1EDrtCzt6zMEGzFzFwFZJ19jpJy2qx5BcmyBM|oGKmW8DAFeDOxfOJM4DcnTYrtT7dhZltTW7OXHB1ClEWkPO0JmgEM1pebs5CcA2UCTS6QyHMaEtyc3LAlWcDjZReyLpKZS9uT02086vu0tJa|Lnx0tILMKp3uvxI61iYH33Qq3M24k|VOPel7RIdeIBkdo|HY9WAzpZLSSCNQrZbGO1n4V4h9uDP7RTiIIyaFQoirfxCftiht4sK8KeKqPh34D2S7TsROHRiyMrAxrtNms9H5Qaw9ObU1H4Wdv8z0J8obvOo|wd4KAnkmbaePspA|0idvgbrDeBhcK|EuJ0GtLUjVftvwEYqmaR66JX9Apap6cCyKhiV|RUIrwGk'.split('|'),0,{}));
</script>
</body>
</html>